.card-body {
  background-color: #212529; }

.card-title {
  background-color: white;
  padding: 2px;
  border-radius: 1rem;
  text-align: center; }

.card-img-top {
  padding: 5px;
  background-color: #212529;
  height: 180px; }

.card-text {
  color: white; }

iframe {
  border-radius: 1rem; }

.list-group-item {
  background-color: #212529;
  color: #212529;
  margin: 2px; }

.card-zm {
  background-color: #212529;
  border-radius: 1rem;
  padding: 3%;
  margin-bottom: 24px;
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "text-zm text-zm text-zm" "img-zm ul-zm ul-zm" "img-zm ul-zm ul-zm"; }
  .card-zm .img-zm {
    border-radius: 1rem;
    justify-self: center; }

.text-zm {
  grid-area: text-zm; }

.img-zm {
  grid-area: img-zm; }

.ul-zm {
  grid-area: ul-zm; }

.footer {
  background-color: #000;
  display: flex;
  min-height: 15vh;
  justify-content: space-evenly;
  align-items: center;
  width: 100%; }

.footer p {
  color: #c9c9c9;
  font-size: 1rem; }

.footer form {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.formulario {
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px; }

input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px; }

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease; }

input[type="submit"]:hover {
  background-color: #0056b3; }

::placeholder {
  color: #aaa; }

input:focus {
  outline: none;
  border-color: #007bff; }

.footer img {
  width: auto;
  height: 200px; }

.footer-text {
  width: 412px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center; }

.main {
  display: flex;
  flex-direction: column;
  padding: 29px;
  padding-top: 150px;
  background-color: #c9c9c9;
  min-height: 90vh;
  align-items: center;
  width: 100%; }

.main ul {
  list-style-type: decimal;
  font-size: 1.3rem; }

.main li {
  margin-top: 8px; }

p {
  font-size: 1.5rem; }

.p-index {
  padding-left: 8%;
  padding-right: 8%; }

h1 {
  text-decoration: underline;
  text-align: center; }

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr 3fr 3fr;
  height: 550px; }

.grid figure p {
  background-color: #212529; }

.imghvr-push-up {
  border-radius: 1.5rem;
  margin: 5px; }

.titulos {
  padding: 60px;
  text-align: center; }

figure {
  color: #000; }

h2 {
  padding-top: 20px;
  text-decoration: underline; }

.img-text-index {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100vh; }
  .img-text-index .dorsalera {
    height: 70%; }
  .img-text-index .ejercicio {
    margin-right: 3%; }

.main-hombro {
  padding-top: 150px;
  background-color: #c9c9c9; }
  .main-hombro .tren-superior {
    padding-top: 10px;
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-bottom: 24px; }

.header img {
  height: 100px;
  width: auto; }

.header li:hover {
  background-color: #000;
  font-weight: bold; }

.nav-link {
  margin-left: 20px; }

.offcanvas-header {
  margin-left: 20px; }

.maininferior {
  background-color: #c9c9c9;
  padding: 29px;
  padding-top: 150px;
  min-height: 90vh;
  width: 100%; }

.card-cuadriceps {
  background-color: #212529;
  padding: 10px;
  border-radius: 1rem; }
  .card-cuadriceps .cuadriceps {
    display: flex; }
    .card-cuadriceps .cuadriceps .img-cuadriceps {
      border-radius: 1rem;
      height: auto;
      margin-top: 8%; }
  .card-cuadriceps .card-cuadriceps-text {
    color: white;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%; }
    .card-cuadriceps .card-cuadriceps-text .card-cuadriceps-titulo {
      background-color: white;
      color: #212529;
      padding: 3px;
      border-radius: 1rem;
      text-align: center;
      font-size: 170%; }
    .card-cuadriceps .card-cuadriceps-text li {
      font-size: 130%; }

.card-cuadriceps-texto {
  color: white;
  padding-left: 3%; }

.card-gluteo {
  background-color: #212529;
  padding: 10px;
  border-radius: 1rem;
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column; }
  .card-gluteo .gluteo {
    display: flex;
    flex-direction: row-reverse; }
    .card-gluteo .gluteo .img-gluteo {
      border-radius: 1rem;
      height: auto;
      margin-top: 8%; }
  .card-gluteo .card-gluteo-text {
    color: white;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%; }
    .card-gluteo .card-gluteo-text .card-gluteo-titulo {
      background-color: white;
      color: #212529;
      padding: 3px;
      border-radius: 1rem;
      text-align: center;
      font-size: 170%; }
    .card-gluteo .card-gluteo-text li {
      font-size: 130%; }

.card-gluteo-texto {
  color: white;
  padding-left: 3%; }

.main-zonamedia {
  background-color: #c9c9c9;
  padding: 2%;
  padding-top: 150px;
  padding-bottom: 24px;
  min-height: 90vh; }
  .main-zonamedia .titulo-zm {
    text-align: center; }
  .main-zonamedia #anatomia-abdomen {
    list-style-type: decimal;
    font-size: 130%;
    color: white;
    text-align: center; }
  .main-zonamedia .musculacion-abdomen {
    list-style-type: decimal;
    font-size: 130%; }
  .main-zonamedia .rutina-zm {
    padding: 2%;
    background-image: url(../recursos/zm-rutina.jpg);
    border-radius: 1rem; }
    .main-zonamedia .rutina-zm .zm-texto {
      background-color: rgba(0, 0, 0, 0.95);
      border-radius: 1rem;
      padding: 1%; }

@media (max-width: 1025px) {
  .card-zm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3%; }
  .rutina-zm {
    background-image: url(../recursos/abdomen.jpg);
    margin: 3%; } }

@media (max-width: 426px) {
  .img-zm {
    width: 100%; } }

* {
  padding: 0%;
  margin: 0%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

@media (min-width: 320px) and (max-width: 629px) {
  .main {
    display: flex;
    flex-direction: column; }
  .img-text-index {
    display: flex;
    flex-direction: column; }
    .img-text-index .dorsalera {
      width: 100vw;
      margin-left: 0;
      padding: 3%; }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    height: auto;
    width: 265px; }
  .main-hombro .tren-superior {
    padding-top: 10px;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 24px; }
  .p-index {
    margin-top: 15px; }
  .footer {
    display: flex;
    flex-direction: column;
    height: auto; } }

@media (min-width: 630px) and (max-width: 767px) {
  .main {
    display: flex;
    flex-direction: column; }
  .dorsalera {
    height: auto; }
  .img-text-index {
    display: flex;
    flex-direction: column; }
    .img-text-index .dorsalera {
      width: 100vw;
      margin-left: 0;
      padding: 3%; }
  .p-index {
    margin-top: 10px; }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    height: auto;
    width: 580px; }
  .main-hombro .tren-superior {
    padding-top: 10px;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 24px; }
  .footer {
    display: flex;
    flex-direction: column;
    height: auto; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .main {
    display: flex;
    flex-direction: column; }
  .dorsalera {
    height: auto; }
  .img-text-index {
    display: flex;
    flex-direction: column; }
    .img-text-index .dorsalera {
      width: 100vw;
      margin-left: 0;
      padding: 3%; }
  .p-index {
    margin-top: 20px; }
  .footer {
    display: flex;
    flex-direction: column;
    height: auto; }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    height: auto;
    width: 750px; }
  .main-hombro .tren-superior {
    padding-top: 10px;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 24px; } }

@media (max-width: 1025px) {
  #gluteo {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #gluteo .img-gluteo {
      width: 100%;
      height: auto;
      margin-bottom: 5%;
      margin-top: 0px; }
    #gluteo .card-gluteo-text {
      padding-left: 5%;
      padding-right: 5%; }
  .cuadriceps {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .cuadriceps .img-cuadriceps {
      width: 100%;
      height: auto;
      margin-bottom: 5%;
      margin-top: 0px; }
    .cuadriceps .card-cuadriceps-text {
      padding-left: 5%;
      padding-right: 5%; }
  .footer-text {
    width: 100%;
    margin: 2%; } }
