@import "../partials/cards";
@import "../partials/footer";
@import "../partials/mains";
@import "../partials/header";
@import "../partials/maininferior";
@import "../partials/mainzonamedia";


*{
    padding: 0%;
    margin: 0%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@media (min-width: 320px) and (max-width:629px){
    .main{
        display: flex;
        flex-direction: column;
    }
    .img-text-index{
        display: flex;
        flex-direction: column;
        .dorsalera{
            width: 100vw;
            margin-left: 0;
            padding: 3%;
        }
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        height: auto;
        width: 265px;
    }
    .main-hombro{
        .tren-superior {
            padding-top: 10px;
            min-height: 90vh;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            padding-bottom: 24px;
        }
    }
    .p-index{
        margin-top: 15px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        height: auto;
    }
}
@media (min-width: 630px) and (max-width:767px){
    .main{
        display: flex;
        flex-direction: column;
    }
    .dorsalera{
        height: auto;
    }
    .img-text-index{
        display: flex;
        flex-direction: column;
        .dorsalera{
            width: 100vw;
            margin-left: 0;
            padding: 3%;
        }
    }
    .p-index{
        margin-top: 10px;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        height: auto;
        width: 580px;
    }
    .main-hombro{
        .tren-superior {
            padding-top: 10px;
            min-height: 90vh;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            padding-bottom: 24px;
        }
    }
    .footer{
        display: flex;
        flex-direction: column;
        height: auto;
    }
}
@media (min-width: 768px) and (max-width:1023px){
    .main{
        display: flex;
        flex-direction: column;
    }
    .dorsalera{
        height: auto;
    }
    .img-text-index{
        display: flex;
        flex-direction: column;
        .dorsalera{
            width: 100vw;
            margin-left: 0;
            padding: 3%;
        }
    }
    .p-index{
        margin-top: 20px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        height: auto;
        width: 750px;
    }
    .main-hombro{
        .tren-superior {
            padding-top: 10px;
            min-height: 90vh;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            padding-bottom: 24px;
        }
    }
}
@media (max-width:1025px){
    #gluteo{
        display: flex;
        flex-direction: column;
        align-items: center;
        .img-gluteo{
            width: 100%;
            height: auto;
            margin-bottom: 5%;
            margin-top: 0px;
        }
    .card-gluteo-text{
        padding-left: 5%;
        padding-right: 5%;
    }
    }
    .cuadriceps{
        display: flex;
        flex-direction: column;
        align-items: center;
        .img-cuadriceps{
            width: 100%;
            height: auto;
            margin-bottom: 5%;
            margin-top: 0px;
        }
    .card-cuadriceps-text{
        padding-left: 5%;
        padding-right: 5%;
    }
    }
    .footer-text{
        width: 100%;
        margin: 2%;
    }
}