@import "../partials/cards";
@import "../partials/footer";
@import "../partials/mains";
@import "../partials/header";
@import "../partials/maininferior";

*{
    padding: 0%;
    margin: 0%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
@media (min-width: 320px) and (max-width:629px){
    .main{
        display: flex;
        flex-direction: column;
    }
    .dorsalera{
        height: auto;
    }
    .grilla{
        display: flex;
        flex-direction: column;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        height: auto;
        width: 265px;
    }
    .main-hombro {
        padding-top: 150px;
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }
    .p-index{
        margin-top: 185px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        height: auto;
    }
}
@media (min-width: 630px) and (max-width:767px){
    .main{
        display: flex;
        flex-direction: column;
    }
    .dorsalera{
        height: auto;
    }
    .grilla{
        display: flex;
        flex-direction: column;
    }
    .p-index{
        margin-top: 85px;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        height: auto;
        width: 580px;
    }
    .main-hombro {
        padding-top: 150px;
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }
    .footer{
        display: flex;
        flex-direction: column;
        height: auto;
    }
}
@media (min-width: 768px) and (max-width:1023px){
    .main{
        display: flex;
        flex-direction: column;
    }
    .dorsalera{
        height: auto;
    }
    .grilla{
        display: flex;
        flex-direction: column;
    }
    .p-index{
        margin-top: 200px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        height: auto;
        width: 750px;
    }
    .main-hombro {
        padding-top: 150px;
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }
}
