*{
    padding: 0%;
    margin: 0%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.header img{
    height: 100px;
    width: auto;
}
.header li:hover {
    background-color: #000;
    font-weight: bold;
}
.main{
    display: flex;
    flex-direction: column;
    padding: 29px;
    padding-top: 150px;
    background-color: #c9c9c9;
    min-height: 90vh;
    align-items: center;
    width: 100vw;
}
.main ul{
    list-style-type: decimal;
    font-size: 1.3rem;
}
.main li{
    margin-top: 8px;
}
p{
    font-size: 1.5rem;
}
h1{
    text-decoration: underline;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 3fr 3fr;
    height: 550px;
}
.grid figure p{
    background-color: #000;
}
.imghvr-push-up{
    border-radius: 1.5rem;
    margin: 5px;
}
.titulos{
    padding: 60px;
}
figure{
    color: #000;
}
h2{
    padding-top: 20px;
    text-decoration: underline;
}
.grilla{
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    max-height: 700px;
}
.dorsalera{
    height: 70%;
    width: auto;
}
.main-hombro{
    padding-top: 150px;
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #c9c9c9;
}
.footer{
    background-color: #000;
    display: flex;
    min-height: 15vh;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    margin-top: 15px;
}
.footer p{
    color: #c9c9c9;
    font-size: 1rem;
}
.footer form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.formulario{
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}
::placeholder {
    color: #aaa;
}
input:focus {
    outline: none;
    border-color: #007bff;
}
.footer img{
    width: auto;
    height: 200px;
}
@media (min-width: 320px) and (max-width:629px){
    .main{
        display: flex;
        flex-direction: column;
    }
    .dorsalera{
        height: auto;
    }
    .grilla{
        display: flex;
        flex-direction: column;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        height: auto;
        width: 265px;
    }
    .main-hombro {
        padding-top: 150px;
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }
    .p-index{
        margin-top: 185px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        height: 446px;
    }
}
@media (min-width: 630px) and (max-width:767px){
    .main{
        display: flex;
        flex-direction: column;
    }
    .dorsalera{
        height: auto;
    }
    .grilla{
        display: flex;
        flex-direction: column;
    }
    .p-index{
        margin-top: 85px;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        height: auto;
        width: 580px;
    }
    .main-hombro {
        padding-top: 150px;
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }
    .footer{
        display: flex;
        flex-direction: column;
        height: 446px;
    }
}
@media (min-width: 768px) and (max-width:1023px){
    .main{
        display: flex;
        flex-direction: column;
    }
    .dorsalera{
        height: auto;
    }
    .grilla{
        display: flex;
        flex-direction: column;
    }
    .p-index{
        margin-top: 200px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        height: 446px;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        height: auto;
        width: 750px;
    }
    .main-hombro {
        padding-top: 150px;
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }
}

