.card-body{
    background-color: #212529;
}
.card-title{
    background-color: white;
    padding: 2px;
    border-radius: 1rem;
    text-align: center;
}
.card-img-top{
    padding: 5px;
    background-color: #212529;
    height: 180px;
}
.card-text{
    color: white;
}
iframe{
    border-radius: 1rem;
}
.list-group-item{
    background-color: #212529;
    color: #212529;
    margin: 2px;
}
