.header img{
    height: 100px;
    width: auto;
}
.header li:hover {
    background-color: #000;
    font-weight: bold;
}
.nav-link{
    margin-left: 20px;
}

.offcanvas-header{
    margin-left: 20px;
}