.main{
    display: flex;
    flex-direction: column;
    padding: 29px;
    padding-top: 150px;
    background-color: #c9c9c9;
    min-height: 90vh;
    align-items: center;
    width: 100%;
}
.main ul{
    list-style-type: decimal;
    font-size: 1.3rem;
}
.main li{
    margin-top: 8px;
}
p{
    font-size: 1.5rem;
}
.p-index{
    padding-left: 8%;
    padding-right: 8%;
}
h1{
    text-decoration: underline;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 3fr 3fr;
    height: 550px;
}
.grid figure p{
    background-color: #000;
}
.imghvr-push-up{
    border-radius: 1.5rem;
    margin: 5px;
}
.titulos{
    padding: 60px;
    text-align: center;
}
figure{
    color: #000;
}
h2{
    padding-top: 20px;
    text-decoration: underline;
}
.grilla{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    max-height: 700px;
}
.dorsalera{
    height: 70%;
    width: auto;
}
.main-hombro{
    padding-top: 150px;
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #c9c9c9;
    padding-bottom: 24px;
}